/* Typography
--------------------------------------------- */

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    color: #fff;
    font-size: 2.8em;
}

button, .button, .button.disabled, .button.disabled:focus, .button.disabled:hover, .button[disabled], .button[disabled]:focus, .button[disabled]:hover {
    background-color: #FF6135;
    color: #ffffff;
    border-radius: 15px;
}

button:focus, .button:hover {
    background: #111;
}


/* Header
--------------------------------------------- */

header#masthead > div {
    background: #fff;
    box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
    transition: all .2s ease-in-out;
    padding-top: 5px;
    padding-bottom: 5px;
}

header#masthead > div.is-anchored {
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu .button {
    padding: 0;
    margin: 0;
}

.menu a {
    padding: .7rem;
    color: #111;
}

.menu a:hover {
    color: #FF6135;
}

/* Hero
--------------------------------------------- */

#hero {
    position: relative;
    overflow: hidden;
}

#hero .grid-x {
    height: 500px;
}

#hero .page-title {
    z-index: 1;
    position: relative;
}

#hero img {
    position: absolute;
    top: 0;
    z-index: 0;
}

/* page.php
--------------------------------------------- */

.page{
    margin-top: 20px;
}

#page-title h1{
    color: #111;
}

#page-main h4{
    width: 100%;
}

#page-main p{
    width: 100%;
    
}

/* single.php
--------------------------------------------- */

.single{
    margin-top: 20px;
}

#single-title h1{
    color: #111;
}

#single-main h2{
    width: 100%;
}

#single-main h3{
    width: 100%;
}

#single-main h4{
    width: 100%;
}

#single-main p{
    width: 100%;
    
}

/* Footer
--------------------------------------------- */

footer#colophon {
    padding: 30px 200px 0px 200px;
    color: #999999;
    font-size: 0.9em;
}

footer#colophon a{
    color: #999999;
}