/* Typography
--------------------------------------------- */

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    color: #fff;
    font-size: 2.8em;
    font-weight: bold;
}

h1.black {
    color: #111;
    text-align: center;
}

button, .button, .button.disabled, .button.disabled:focus, .button.disabled:hover, .button[disabled], .button[disabled]:focus, .button[disabled]:hover {
    background-color: #FF6135;
    color: #ffffff;
    border-radius: 15px;
}

button:focus, .button:hover {
    background: #111;
}

.wp-block-button__link {
    background-color: #FF6135;
    color: #ffffff;
}

/* Header
--------------------------------------------- */

header#masthead > div {
    background: #fff;
    box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
    transition: all .2s ease-in-out;
    padding-top: 5px;
    padding-bottom: 5px;
}

header#masthead > div.is-anchored {
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu .button {
    padding: 0;
    margin: 0;
}

.menu a {
    padding: .7rem;
    color: #111;
}

.menu a:hover {
    color: #FF6135;
}

/* Hero
--------------------------------------------- */

#hero {
    position: relative;
    overflow: hidden;
    background-color: black;
}

#hero .grid-x {
    height: 500px;
}

#hero .page-title, #hero h3 {
    z-index: 1;
    position: relative;
    color: #fff;
}

#hero img {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    opacity: 0.65;
}

/* front-page.php
--------------------------------------------- */

.grid-x.main-content {
    display: block;
}

.main-content input[type="search"] {
    padding: 12px;
    height: 50px;
    font-size: 18px;
    margin: 0;
    border: 0px solid white;
    border-bottom: 3px solid #25a4dd;
    box-shadow: none;
}

.wp-block-search .wp-block-search__label {
    width: auto!important;
}

.wp-block-search .wp-block-search__button {
    background-color: #FF6135;
    color: #fff;
    border: 0;
    border-radius: 100px;
}

/* page.php
--------------------------------------------- */

.page{
    margin-top: 20px;
    padding: 0 7% 0 7%;
}

#page-title h1{
    color: #111;
}

#page-main h4{
     width: 100%;
}

#page-main p{
    width: 100%;
    
}

/* single.php
--------------------------------------------- */

.single{
    margin-top: 20px;
    padding: 0 7% 0 7%;
}

#single-title h1{
    color: #111;
}

#single-main h2{
    width: 100%;
}

#single-main h3{
    width: 100%;
}

#single-main h4{
    width: 100%;
}

#single-main p{
    width: 100%;
    
}



/* tag.php
--------------------------------------------- */

.tag{
    margin-top: 20px;
    padding: 0 7% 7% 7%;
}

.tag h1{
    text-align: center;
    color: white;
}

#tag-summary{
    background-color: #000b25;
    border-radius: 20px;
    margin-bottom: 2%;
}

.tag-description{
    color: white;
    text-align: center;
    padding: 0 5% 0 5%;
}

.tag-checkout{
    margin-bottom: 1%;
}

.tag-checkout h4{
    color: white;
    text-align: center;
}

.tag-checkout .button{
    margin: 0 1% 0% 1%;
}

.tag .section-title{
    text-align: center;
    font-size: 1.3em;
    margin: 2% 0 2% 0;
    font-weight: bold;
}

.tag .section {
    margin-bottom: 1%;
    padding-bottom: 4%;
    border-bottom: 2px solid lightgrey;
}

.tag .uneven{
    background-color: #000b25;
    border-radius: 20px;
    padding: 5% 0 2% 0;
}

.tag .uneven-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0 5% 0 5%;
}

.tag .uneven-img-container img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    border-radius: 20px;
}

.tag .uneven h3{
    text-align: center;
    margin-top: 3%;
}

.tag .uneven h3 a{
    color: white;
    font-size: 0.8em;
    text-align: center;
}

.tag .even{
    border-radius: 20px;
    padding: 5% 0 2% 0;
}

.tag .even-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10%;
}

.tag .even-img-container img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    border-radius: 100%;
}

.tag .even h3{
    text-align: center;
}

.tag .even h3 a{
    color: black;
    font-size: 0.8em;
    text-align: center;
}

#category-main{
    padding-bottom: 7%;
}

.card {
    background-color: #000b25;
    color: #fff; 
    border-radius: 20px;
}

.card-divider {
    background-color: #000b25;
}

.card-section a.button{
    color: white;
}


/* Footer
--------------------------------------------- */

footer#colophon {
    /* padding: 30px 200px 0px 200px; */
    color: #999999;
    font-size: 0.9em;
    text-align: center;
}

footer#colophon a{
    color: #999999;
}